/**
 * Styles for the footer
 */

.footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: var(--spacing);
  padding-top: calc(3 * var(--spacing));
  color: var(--body-color-light);
  font-size: .8em;
}

.footer-text {
  margin: 0;
}

.footer-counter {
  margin-left: auto;
  max-height: 1.4em;
  display: block;
}

